html {
  background-color: #fcfcee;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button {
  padding: 15px 20px;
  border: 1px solid #444;
  border-radius: 10px;
  background-color: #fcfcee;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: rgb(43, 39, 58);
  color: #fcfcee;
}

a {
  text-decoration: none;
  text-align: center;
}
